<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Sandbox!</title>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta
      name="description"
      content="Sandbox - A Playground for quick static builds"
    />

    <!--- CSS --->
    <!-- build:css -->
    <link rel="stylesheet" href="{{root}}assets/vendor/css/all.css" />
    <link rel="stylesheet" href="{{root}}assets/css/main.css" />
    <!-- endbuild -->
  </head>

  <body>
    <main role="main">
      {{> body}}
    </main>
  </body>

  <!--- Scripts - scripts inbetween these special tags get compiled + concatenated --->
  <!-- build:js -->
  <script src="{{root}}assets/vendor/js/all.js"></script>
  <script src="{{root}}assets/vendor/js/jquery.js"></script>
  <script src="{{root}}assets/vendor/js/popper.js"></script>
  <script src="{{root}}assets/vendor/js/bootstrap.js"></script>
  <script src="{{root}}assets/vendor/js/slick.js"></script>
  <script src="{{root}}assets/vendor/js/emergence.js"></script>
  <script src="{{root}}assets/js/custom.js"></script>
  <!-- endbuild -->
</html>
